<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <title>测试菜单</title>
</head>
<body class="container" style="width: 50%">
<ul>
    <li>
        <a href="/cg1044/view">开户绑卡(cg1044)</a>
    </li>
    <li>
        <a href="/cg1045/view">充值(cg1045)</a>
    </li>
    <li>
        <a href="/cg1049/view">注册手机号修改申请(CG1049)</a>
    </li>
    <li>
        <a href="/cg1056/view">换绑信息(cg1056)</a>
    </li>
    <li>
        <a href="/cg1057/view">解绑(cg1057)</a>
    </li>
    <li>
        <a href="/cg1048/view">支付密码修改(CG1048)</a>
    </li>
    <li>
        <a href="/cg1055/view">支付密码重置(cg1055)</a>
    </li>
    <li>
        <a href="/cg2006/view">查询客户信息(cg2006)</a>
    </li>
</ul>


</body>
</html>