<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <title>Title</title>
</head>
<body>


username: <input id="username" type="text"> <br><br>
password: <input id="password" type="password">
<button id="loginBtn">登录</button>

<script type="text/javascript">
    $("#loginBtn").click(function () {
        var username = $('#username').val();
        var password = $('#password').val();
        $.ajax({
            url: '/checkLogin.json',
            type: 'POST',
            data: {
                username: username,
                password: password
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
            }

        });
    });
</script>

</body>
</html>