<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <title>注册手机号修改申请(CG1049)</title>
</head>
<body>
<div class="container">
    <table class="table  text-center" width="50%">
        <tr>
            <td colspan="4">
                <strong>注册手机号修改申请(CG1049)</strong>
            </td>
        </tr>
        <tr>
            <td>请求地址</td>
            <td colspan="2">
                <input class="open-request-host form-control" placeholder="请求地址">
            </td>
            <td>
                <span class="open-request-url">/dep-page-service/cg1049</span>
            </td>
        </tr>
        <tr>
            <td>商户号(merchantNo)</td>
            <td colspan="2">
                <input class="open-merchant-no form-control" placeholder="商户号">
            </td>
            <td><span></span></td>
        </tr>
        <tr>
            <td>客户号(custNo)</td>
            <td colspan="2">
                <input class="custNo form-control" placeholder="客户号(custNo)">
            </td>
            <td><span></span></td>
        </tr>
        <tr>
            <td>原手机号(oldMobile)</td>
            <td colspan="2">
                <input class="oldMobile form-control" placeholder="原手机号(oldMobile)">
            </td>
            <td><span></span></td>
        </tr>
        <tr>
            <td>新手机号(newMobile)</td>
            <td colspan="2">
                <input class="newMobile form-control" placeholder="新手机号(newMobile)">
            </td>
            <td>
                <button class="btn-random-phone btn btn-success">生成</button>
            </td>
        </tr>
        <tr>
            <td>回调地址(callbackUrl)</td>
            <td colspan="2">
                <input class="open-call-back-url form-control" placeholder="回调地址callbackUrl"
                       value="http://10.10.10.4:8090/cg1044/callback">
            </td>
            <td><span></span></td>
        </tr>
        <tr>
            <td>跳转地址(responsePath)</td>
            <td colspan="2">
                <input class="open-response-path form-control" placeholder="跳转地址responsePath">
            </td>
            <td><span></span></td>
        </tr>
        <tr>
            <td class="4">
                <button class="btn-submit btn btn-info">提交</button>
            </td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <td><strong>请求报文</strong></td>
            <td colspan="3">
                <pre class="req-msg">




                </pre>
            </td>
        </tr>
        <tr>
            <td><strong>响应报文</strong></td>
            <td colspan="3">
                <pre class="resp-msg">

                    通过callbackUrl将响应信息写入固定json ,时刻请求


                </pre>
            </td>
        </tr>
    </table>
    <div class="request-form hidden"></div>
</div>

</body>
<script>
    $(function () {
        //从localStorage中获取数据
        $('.open-request-host').val(localStorage.getItem('open-request-host'));
        $('.open-merchant-no').val(localStorage.getItem('open-merchant-no'));
        $('.custNo').val(localStorage.getItem('custNo'));
        $('.oldMobile').val(localStorage.getItem('oldMobile'));
        $('.open-response-path').val(localStorage.getItem('responsePath'));
        //随机生成手机号
        $('.btn-random-phone').click(function () {
            var randomPhone = util.getMobile();
            $('.newMobile').val(randomPhone);
        });
        //提交开户绑卡信息
        $('.btn-submit').click(function () {
            var url = $('.open-request-host').val() + $('.open-request-url').text();
            var params = {
                requestUrl: url,
                merchantNo: $('.open-merchant-no').val(),
                custNo: $('.custNo').val(),
                oldMobile: $('.oldMobile').val(),
                newMobile: $('.newMobile').val(),
                callbackUrl: $('.open-call-back-url').val(),
                responsePath: $('.open-response-path').val()
            };
            console.log(params);
            //将数据存储在localStorage
            localStorage.setItem("open-request-host", $('.open-request-host').val());
            localStorage.setItem("open-merchant-no", params.merchantNo);
            localStorage.setItem("custNo", params.custNo);
            localStorage.setItem("oldMobile",params.oldMobile);
            localStorage.setItem("responsePath",params.responsePath);
            $.ajax({
                type: 'POST',
                url: '/cg1049',
                data: params,
                success: function (result) {
                    console.log(result);
                    var reqMsg = result.reqMsg;
                    $('.req-msg').text(JSON.stringify(reqMsg, null, '\t'));
                    if (result.status === '000') {
                        // //跳转到开户绑卡页面
                        var element = $('.request-form');
                        util.doPost(element, result, params.requestUrl);
                        // console.log($('.form-post').serialize());
                    }
                },
                dataType: 'json'
            });
        });
    });
</script>
</html>