<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <title>T1提现(cg1047)</title>
</head>
<body>
<div class="container">
    <table class="table  text-center" width="50%">
        <tr>
            <td colspan="4">
                <strong>T1提现(cg1047)</strong>
            </td>
        </tr>
        <tr>
            <td>请求地址</td>
            <td colspan="2">
                <input class="open-request-host form-control" placeholder="请求地址">
            </td>
            <td>
                <span class="open-request-url">/dep-page-service/cg1047</span>
            </td>
        </tr>
        <tr>
            <td>商户号</td>
            <td colspan="2">
                <input class="open-merchant-no form-control" placeholder="商户号">
            </td>
            <td><span></span></td>
        </tr>
        <tr>
            <td>账户号(acctNo)</td>
            <td colspan="2">
                <input class="acctNo form-control" placeholder="账户号(acctNo)">
            </td>
            <td><span></span></td>
        </tr>
        <tr>
            <td>提现金额(amount)</td>
            <td colspan="2">
                <input class="amount form-control" placeholder="提现金额(amount)">
            </td>
            <td><span></span></td>
        </tr>
        <tr>
            <td>收益金额(incomeAmt)</td>
            <td colspan="2">
                <input class="incomeAmt form-control" placeholder="收益金额(incomeAmt)">
            </td>
            <td><span></span></td>
        </tr>
        <tr>
            <td>回调地址(callbackUrl)</td>
            <td colspan="2">
                <input class="open-call-back-url form-control" placeholder="回调地址callbackUrl" value="http://10.10.10.4:8090/cg1044/callback">
            </td>
            <td><span></span></td>
        </tr>
        <tr>
            <td>跳转地址(responsePath)</td>
            <td colspan="2">
                <input class="open-response-path form-control" placeholder="跳转地址responsePath">
            </td>
            <td><span></span></td>
        </tr>
        <tr>
            <td class="4">
                <button class="btn-openbind btn btn-info">提交</button>
            </td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <td><strong>请求报文</strong></td>
            <td colspan="3">
                <pre class="req-msg">




                </pre>
            </td>
        </tr>
        <tr>
            <td><strong>响应报文</strong></td>
            <td colspan="3">
                <pre>

                    通过callbackUrl将响应信息写入固定json ,时刻请求


                </pre>
            </td>
        </tr>
    </table>
    <div class="request-form hidden"></div>
</div>

</body>
<script>
    $(function () {
        //从localStorage中获取数据
        $('.open-request-host').val(localStorage.getItem('open-request-host'));
        $('.open-merchant-no').val(localStorage.getItem('open-merchant-no'));
        $('.open-response-path').val(localStorage.getItem('open-response-path'));
        $('.acctNo').val(localStorage.getItem('acctNo'));

        //提交开户绑卡信息
        $('.btn-openbind').click(function () {
            var url = $('.open-request-host').val() + $('.open-request-url').text();
            var params = {
                requestUrl: url,
                merchantNo: $('.open-merchant-no').val(),
                acctNo: $('.acctNo').val(),
                amount: $('.amount').val(),
                incomeAmt: $('.incomeAmt').val(),
                callbackUrl: $('.open-call-back-url').val(),
                responsePath: $('.open-response-path').val(),
            };
            console.log(params);
            //将数据存储在localStorage
            localStorage.setItem("open-request-host",$('.open-request-host').val());
            localStorage.setItem("open-merchant-no",params.merchantNo);
            localStorage.setItem("open-response-path",params.responsePath);
            localStorage.setItem("acctNo",params.acctNo);
            $.ajax({
                type: 'POST',
                url: '/cg1047',
                data: params,
                success: function (result) {
                    var reqMsg = result.reqMsg;
                    $('.req-msg').text(JSON.stringify(reqMsg, null, '\t'));
                    if (result.status === '000') {
                        //跳转到开户绑卡页面
                        var element = $('.request-form');
                        util.doPost(element, result, params.requestUrl);
                        // console.log($('.form-post').serialize());
                    }
                },
                dataType: 'json'
            });
        });
    });
</script>
</html>